body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    
    font-family: lora, Arial, Helvetica, sans-serif;
}

.font-caveat{
    font-family: caveat, Arial;
    font-weight: 700 ;
    font-size:25px ;
    padding-left: 14px;
    padding-right: 14px;

}

.hover-color:hover{
    color:  rgb(131, 177, 61);
}

.hover-color-bg:hover{
    background:  rgb(131, 177, 61);
    padding: 9px;
}

.all{
    color: rgb(131, 177, 61);
    font-size:25px ;
}

#slash{
    font-weight: 300;
    color: red;
}

.add-bottom-padding{
    padding-bottom: 4rem;
}

.size-image-logo{
    height: 50px;
    width: 90px;
    margin-right: 10px;
}

#size-psg-logo{
    height: 60px;
    width: 100px;
}



#main-content{
    min-height: 100vh;
    flex: 1 0 auto;
}

.styled-padding{
    padding: 1em;
}

/*Media query*/

@media screen and (max-width: 767px) {
    .board {
        display: flex;
        flex-wrap: wrap; /* Allow columns to wrap to the next row */
        justify-content: center;
        gap: 2.5em; /* Add some spacing between columns */
    }
    .col {
        flex: 1; /* Distribute available space evenly among columns */
        max-width: calc(33.33% - 1em); /* Set maximum width for each column */

    }

    .size-image{
        height: 60px;
        width: 60px;
    }

    #size-psg-logo{
        height: 60px;
        width: 77px;
    }
}