body{
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: black;
    font-family: lora, Arial, Helvetica, sans-serif;
}

.font-caveat{
    font-family: caveat, Arial;
    font-weight: 700 ;
    font-size:25px ;
    padding-left: 14px;
    padding-right: 14px;

}

.hover-color:hover{
    color:  rgb(131, 177, 61);
}

.hover-color-bg:hover{
    background:  rgb(131, 177, 61);
    padding: 9px;
}

.all{
    color: rgb(131, 177, 61);
    font-size:25px ;
}

#slash{
    font-weight: 300;
    color: red;
}

.size-image{
    height: 60px;
    width: 100px;
}

#main-content{
    min-height: 100vh;
    flex: 1 0 auto;
}

.styled-padding{
    padding: 1em;
}