{% extends 'base.html' %} {% block content %}
{% load static %}
{% load crispy_forms_tags %}

  <div class="card transparent-bg-ofn white-color-text container">
    <div class="card-body">
      <h1 class="card-title stack-top">OFFICIAL: {{ officials.title }}</h1>
      <h5 class="card-text small-stack"><em> {{ officials.author }} / {{ officials.created_on }} </em> </h5>
      <p class="card-text"></p>
    </div>
    {% if "placeholder" in officials.featured_image.url %} <!--start for placeholder-->
        <img class="reduce-image-width" src="{% static 'images/ball-image.png' %}" alt="Placeholder">
    {% else %}
        <img class="card-img-top image-height reduce-image-width" src=" {{ officials.featured_image.url }}" alt="{{ officials.title }}">
        {% endif %} <!--End for placeholder-->

          <div class="card-body">
            <p class="card-text" style="padding: 25px;"> {{ officials.content | safe }} </p>
          </div>

            <!-- Displaying count of comments -->
            <div class="row right">
              <div class="col-12">
                <strong class="text-secondary">
                  <i class="far fa-comments white-color-text"></i><span class="white-color-text"> {{ comment_count }} <em>comments</em></span>
                </strong>
              </div>
              <div class="col-12">
                <strong><hr> </strong>
              </div>
            </div>
  
    </div>

    <div class="container bg-display-create">
    
    <!--Creating new comment section-->
    <div class="text-center white-color-text two-third-column">
      <div class="card-body">
        {% if user.is_authenticated %}
        <h3 class="push-down-little">Leave a comment:</h3>
        <form d="commentForm" method="post">
          {{ comment_form | crispy }}
            {% csrf_token %}
          <div class="col-auto">
            <button type="submit" class="btn btn-primary mb-2">Submit</button>
          </div>
      </form>
        {% else %}
        <p>Log in to leave a comment</p>
        {% endif %}
    </div>
    </div>

     <!-- Display Comments-->
     <div class="text-center white-color-text one-third-column push-down-little" style="padding: 25px;">
      <h2>
        Comments:
      </h2>
      <div class="card-body">
            {% for comment in comments %}
        <p class="card-text"> {{comment.author}} 
          <span> {{comment.created_on}} </span>
        </p>
        <div id="comment{{ comment.id }}">
          {{ comment.body | linebreaks }}
      </div>
           <!--Edit and Delete buttons and visible only when users are logged-in-->
           {% if user.is_authenticated and comment.author == user %}
             <button class="btn btn-delete red-d-button" data-comment_id="{{ comment.id }}">Delete</button>
              <button class="btn btn-edit green" data-comment_id="{{ comment.id }}">Edit</button>
         {% endif %}
              
        {% endfor %} <!--end forloop-->
      </div>
    </div>

  </div>

  
{% endblock content %}

{% block script %}
<script src="{% static 'js/comments.js' %}"></script>
{% endblock %}