body{
    min-height: 100vh;
    background: url('../images/c-league-bg.jpg')no-repeat center /cover;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    background-color: rgba(0, 0, 0, 0.7);
    font-family: lora, Arial, Helvetica, sans-serif;
}
/*Previews sections background image*/
.section-background-image{
    background: url('../images/soccer-stadium.jpg') no-repeat center /cover;
}

/*History background image*/
.history-background-barca{
    background: url('../images/barca\ background.jpeg') no-repeat center /cover;
    height: 100%;
    background-attachment: fixed;
}

.history-background-psg{
    background: url('../images/paris-back.jpg') no-repeat center /cover;
    height: 100%;
    background-attachment: fixed;
}

.history-background-real_madrid{
    background: url('../images/real_bg.jpg') no-repeat center /cover;
    height: 100%;
    background-attachment: fixed;
}

.history-background-man-city{
    background: url('../images/man-bg.jpeg') no-repeat center /cover;
    height: 100%;
    background-attachment: fixed;
}

.history-background-newcastle{
    background: url('../images/newcastle-bg.jpg') no-repeat center /cover;
    height: 100%;
    background-attachment: fixed;
}

.history-background-chelsea{
    background: url('../images/chel-bg.jpg') no-repeat center /cover;
    height: 100%;
    background-attachment: fixed;

}

.history-background-bayern{
    background: url('../images/bayern-bg.jpg') no-repeat center /cover;
    height: 100%;
    background-attachment: fixed;
}

.history-background-arsenal{
    background: url('../images/arsenal-bg.jpg') no-repeat center /cover;
    height: 100%;
    background-attachment: fixed;
}

.history-background-bvb{
    background: url('../images/bvb_bg.jpg') no-repeat center /cover;
    height: 100%;
    background-attachment: fixed;
}

.history-background-inter-milan{
    background: url('../images/inter-bg.jpg');
    height: 100%;
    background-attachment: fixed;
}

.history-background-lpool{
    background: url('../images/pool-bg.jpg');
    height: 100%;
    background-attachment: fixed;
}

.history-background-porto{
    background: url('../images/fc-porto-bg.jpg');
    height: 100%;
    background-attachment: fixed;
}

.font-caveat{
    font-family: caveat, Arial;
    font-weight: 700 ;
    font-size:25px ;
    padding-left: 14px;
    padding-right: 14px;

}

.hover-color:hover{
    color:  rgb(131, 177, 61);
}

.hover-color-bg:hover{
    background:  rgb(131, 177, 61);
    padding: 9px;
}

.all{
    color: rgb(131, 177, 61);
    font-size:25px ;
}

#slash{
    font-weight: 300;
    color: red;
}

.add-bottom-padding {
    width: 50%;
    margin: 1em auto;
    padding: 2em;
}

.color-white{
    padding: 13px;
}

.home-margin{
    margin-top: 3em;
}


.white-color-text{
    color: #fff;
}

.text-color{
    color: #fff;
    padding: 1em;
}

.marg-top{
    margin-top: 18px;
}

.size-image-logo{
    height: 50px;
    width: 90px;
    margin-right: 10px;
}

#size-psg-logo{
    height: 60px;
    width: 100px;
}

.madrid7-png{
    height: 78px;
    width: 60px;
}

.monaco-png{
    height: 76px;
    width: 79px;
}

.barca-logo{
    height: 66px;
    width: 67px;
}

.chelbvb-size{
    height: 60px;
    width: 60px;
}

.new-castle-logo-size{
    height: 70px;
    width: 80px;
}

.inter-png{
    height: 66px;
    width: 67px
}

.porto-png{
    height: 79px;
    width: 125px;
}

#main-content{
    min-height: 100vh;
    flex: 1 0 auto;
}

.bg-color{
    background-color: rgb(36, 36, 36, 0.6);
    font-size: large;
    padding: 2em;
    height: auto;
    letter-spacing: 2px;
    margin-top: 12px;
}

/*Carousel image height and width*/
.image-height-width{
    height: 450px;
    width: 200px;
    margin-bottom: 1em;
}

.push-down{
    margin-top: 80px;
}

.push{
    margin-bottom: 45px;
}

.screen-size{
    margin-top: 2em;
}

/*style for Home, Draw and Away vote block*/

.div-green-color {
    background-color: green;
    height: 90px;
    padding-top: 1.5em;
    margin: auto 15px;
    max-width: 150px;
}

.div-blue-color{
    background-color: blue;
    height: 90px;
    padding-top: 1.5em;
    margin: auto 15px;
    max-width: 150px;
}


.div-red-color{
    background-color: red;
    height: 90px;
    padding-top: 1.5em;
    margin: auto 15px;
    max-width: 150px;
}

  .div-green-color span,
  .div-blue-color span,
  .div-red-color span {
    display: block; /* Makes the span take the full width of the container */
    margin-top: 40px; /* Adds space between the '0' and the text */
  }

.custom-width {
    flex: 0 0 auto;
    width: 100px;
}

#set-width{
    align-items: center;
    justify-content: space-between;
}


.styled-padding{
    padding: 1em;
}

.left{
    text-align: right;
}

.right{
    text-align: left;
    margin-left: 3rem;
    margin-right: 3rem;
}


/*Official styling*/

.card-header{
    margin: 20px 0 28px 0;
    
}

.transparent-bg{
    background-color: rgb(36, 36, 36, 0.6);
    font-size: large;
    padding: 2em;
    height: auto;
    letter-spacing: 1px;
}

.transparent-bg {
    background: url('../images/c-league-bg.jpg');
}

.transparent-bg-ofn{
    background-color: rgb(36, 36, 36, 0.6);
    text-align: center;
    height: auto;
}


.post-link{
    text-decoration: none;
}
.post-link:hover,
.page-link {
    color:  blue;
    text-decoration: none;
}

.image-container .image-height {
    width: 100%; /* This will make the image take the full width of its container */
    height: auto; /* This will maintain the aspect ratio of the image */
    display: block; /* Changed from flex to block */
    margin: 0 auto; /* This will center the image if it's not as tall as the container */
}

/*Comment styling*/
.bg-display-create{
    background-color: rgb(36, 36, 36, 0.6);
    margin-top: 2em;
    padding-top: 2em;
    padding-bottom: 2em;
}


.container {
    text-align: center; /* This centers the inline-block elements */
}

.one-third-column, .two-third-column {
    display: inline-block;
    vertical-align: top; /* This aligns the tops of the elements */
    margin-right: -4px; /* This helps fix spacing issues caused by inline-block */
}

.one-third-column {
    width: 33%;
}

.two-third-column {
    width: 66%;
}

.push-down-little{
    margin-top: 60px;
}


/*Official_news.html section styling*/

.reduce-image-width{
    height: 700px;
    width: 80%;
    margin: 0 auto;
    padding: 3rem;
}

.stack-top{
    margin-top: 1.8em;
}

.small-stack{
    margin-top: 20px;
}

/*Django allauth*/
.green{
    background-color: green;
    color: blue;
}

.transparent-bg-ofn-login-signup{
    background-color: rgb(36, 36, 36, 0.6);
    padding-top: 2em;
    padding-bottom: 2em;
}

/*comment_form | crispy*/
/* Override Crispy Forms input styles */
.form-control {
    background-color: transparent; /* Make the background transparent */
    color: #fff; /* Set the text color to white or any color that suits your design */
    border: 1px solid #fff; /* Optional: set the border color */
    padding: 1em;
}

/*Succes message*/
.bg-success-message-color{
    color: #fff;
    font-size: 1rem;  
}

.success-message {
    background-color: #28a745; /* Green background */
    width: 50%;                /* Reduced width */
    margin: 0 auto;            /* Center the message */
    padding: 10px;
    border-radius: 5px;        /* Rounded corners */
}


/*Crispy form*/
.add-padding-crispy-form{
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
}


/*code from Django walkthrough */
.author {
    color: white;
    margin: 4px;
    text-transform: capitalize;
}

.image-container {
    position: relative;
}

.image-flash {
    position: absolute;
    bottom: 5%;
    min-width: 30%;
    left: -2px;
    background-color: green;
}


/*Media query*/

@media screen and (max-width: 767px) {
    .board {
        display: flex;
        flex-wrap: wrap; /* Allow columns to wrap to the next row */
        justify-content: center;
        gap: 2.5em; /* Add some spacing between columns */
    }
    .col {
        flex: 1; /* Distribute available space evenly among columns */
        max-width: calc(33.33% - 1em); /* Set maximum width for each column */

    }

    .size-image{
        height: 60px;
        width: 60px;
    }

    #size-psg-logo{
        height: 60px;
        width: 77px;
    }
    .madrid7-png{
        height: 78px;
        width: 60px;
    }

    .porto-png{
        height: 75px;
        width: 79px;
    }

    .smallest-logo{
        width: 20px;
        height: 20px;
    }

    .marg-top {
        margin-top: 1em; /* Add some space above each h3 */
    }

    .small-name {
        white-space: normal; /* Allow text to wrap */
        line-height: 1.2; /* Adjust line height for better readability */
        max-width: 100%; /* Ensure the name does not exceed the container width */
        font-size: 15px; /* Adjust font size if necessary */
    }

    .add-bottom-padding {
        width: 100%; /* Full width on small screens */
        margin:  auto; /* Center the element */
        padding: 1em; /* Reduced padding for smaller screens */
    }

    .screen-size{
        display: inline-block;
        width: 33%;
        font-size: 16px;
    }

    .div-red-color, .div-green-color, .div-blue-color{
        max-width: 70px;
        height: 80px;
        margin-right: 5.5px;
    }

    .reduce-image-width{
        height: 300px;
        width: 100%;
        padding: 7px;
    }

    .one-third-column, .two-third-column {
        display: block; /* Stack the columns vertically */
        width: 100%; /* Each column takes full width */
        margin-right: 0; /* Reset the margin */
    }

    /* Reduce the height of input fields */
    .form-control {
        height: 80px !important; /* Force the browser to use this height */
        width: 100%; /* Adjust the width as needed */
        padding: 0; /* Remove padding */
     /* Remove borders */
        box-sizing: border-box; /* Include padding and borders in the height if any */
    }

    .push-down{
        margin-top: 50px;
    }

    /*Carousel*/
    .image-height-width{
        height: 300px;
        width: 100%;
        padding: 7px;
    }

   .add-padding-crispy-form {
       /* Reduce the padding to decrease height */
       max-width: 100%;
       /* Optional: Adjust the width to fit smaller screens */
   }

   .form-control {
       padding: 0.5em;
       /* Reduce the padding inside the form fields */
   }

   /* You can also adjust the font size of the form elements if necessary */
   .form-control,
   .btn {
       font-size: 0.9em;
       /* Reduce the font size to save space */
   }

}