{% extends "base.html" %}
{% load static %}

<!-- index.html content starts here -->
{% block content %}

<div class="card text-center add-bottom-padding">
      <div class="card-header">
        Features
      </div>
      <div class="card-body">
        <h2 class="card-title">A week of champions league</h2>
        <p class="card-text">With supporting text below as a natural lead-in to additional content.</p>
        <div class="container">
            {% for ball in football_list %}
            <!-- First Match -->
            <div class="row styled-padding board">
                  <div class="col">
                    <a href="{% url 'football_preview' ball.slug %}">
                      <img class="size-image size-image-logo" src="{% static 'images/barcelonalogo.jpg' %}" alt="barca logo">
                    </a>
                  </div>
                  vs
                  <div class="col">
                    <a href="{% url 'football_preview' ball.slug %}">
                      <img class="size-image size-image-logo" id="size-psg-logo" src="{% static 'images/psg.jpeg' %}" alt="psg logo">
                    </a>
                  </div>
            </div>
            <!-- Second Match -->
            <div class="row styled-padding board">
                <div class="col">
                    <a href="{% url 'football_preview' ball.slug %}">
                      <img class="size-image size-image-logo madrid7-png" src="{% static 'images/real madrid.png' %}" alt="barca logo">
                    </a>
                </div>
                vs
                <div class="col">
                    <a href="{% url 'football_preview' ball.slug %}">
                      <img class="size-image size-image-logo madrid7-png" id="size-psg-logo" src="{% static 'images/man city.jpeg' %}" alt="psg logo">
                    </a>
                </div>
            </div>
            <!-- Third Match -->
            <div class="row styled-padding board">
                <div class="col">
                    <a href="{% url 'football_preview' ball.slug %}">
                      <img class="size-image size-image-logo " src="{% static 'images/new castle.png' %}" alt="barca logo">
                    </a>
                </div>
                vs
                <div class="col">
                    <a href="{% url 'football_preview' ball.slug %}">
                      <img class="size-image size-image-logo" id="size-psg-logo" src="{% static 'images/chelsea.png' %}" alt="psg logo">
                    </a>
                </div>
            </div>
            {% endfor %}
          </div>
      </div>
      <div class="card-footer text-muted">
      </div>
    </div>
    
<!-- index.html content ends here -->
{% endblock %}
