{% extends "base.html" %}
{% load static %}

<!-- index.html content starts here -->
{% block content %}

<div class="card text-center add-bottom-padding color-white home-margin">
      
       <h3>Features</h3>
      
      <div class="card-body">
        <h2 class="card-title">A week of champions league</h2>
        <p class="card-text">Support you team, for its a week for the champions.</p>
        <div class="container">
            {% for ball in football_list %}
            <!-- First Match -->
            <div class="row styled-padding board">
                  <div class="col">
                    <a href="{% url 'preview1' ball.slug %}">
                      <img class="size-image size-image-logo barca-logo madrid-reduce-logo" src="{% static 'images/barcelonalogo.jpg' %}" alt="barca logo">
                    </a>
                  </div>
                  vs
                  <div class="col">
                    <a href="{% url 'preview1' ball.slug %}">
                      <img class="size-image size-image-logo size-psg-logo increase-width" src="{% static 'images/psg.jpeg' %}" alt="psg logo">
                    </a>
                  </div>
            </div>
            <!-- Second Match -->
            <div class="row styled-padding board">
                <div class="col">
                    <a href="{% url 'preview2' ball.slug %}">
                      <img class="size-image size-image-logo madrid7-png madrid-reduce-logo" src="{% static 'images/real madrid.png' %}" alt="real madrid logo">
                    </a>
                </div>
                vs
                <div class="col">
                    <a href="{% url 'preview2' ball.slug %}">
                      <img class="size-image size-image-logo madrid7-png increase-width" id="size-psg-logoo" src="{% static 'images/man city.jpeg' %}" alt="mancity logo">
                    </a>
                </div>
            </div>
            <!-- Third Match -->
            <div class="row styled-padding board">
                <div class="col">
                    <a href="{% url 'preview3' ball.slug %}">
                      <img class="size-image size-image-logo new-castle-logo-size" src="{% static 'images/new castle.png' %}" alt="new castle logo">
                    </a>
                </div>
                vs
                <div class="col">
                    <a href="{% url 'preview3' ball.slug %}">
                      <img class="size-image size-image-logo chelbvb-size" src="{% static 'images/chelsea-logo.jpg' %}" alt="chelsea logo">
                    </a>
                </div>
            </div>
            <!-- Fourth Match -->
            <div class="row styled-padding board">
              <div class="col">
                  <a href="{% url 'preview4' ball.slug %}">
                    <img class="size-image size-image-logo monaco-png" src="{% static 'images/bayern-munich.png' %}" alt="new castle logo">
                  </a>
              </div>
              vs
              <div class="col">
                  <a href="{% url 'preview4' ball.slug %}">
                    <img class="size-image size-image-logo porto-png" src="{% static 'images/Arsenal-logo.jpg' %}" alt="chelsea logo">
                  </a>
              </div>
          </div>
          <!-- Firth Match -->
          <div class="row styled-padding board">
            <div class="col">
                <a href="{% url 'preview5' ball.slug %}">
                  <img class="size-image size-image-logo chelbvb-size madrid-reduce-logo" src="{% static 'images/bvb.png' %}" alt="bvb logo">
                </a>
            </div>
            vs
            <div class="col">
                <a href="{% url 'preview5' ball.slug %}">
                  <img class="size-image size-image-logo inter-png madrid-reduce-logo" src="{% static 'images/inter-milan-logo.png' %}" alt="inter milan logo">
                </a>
            </div>
        </div>
        <!-- Sixth Match -->
        <div class="row styled-padding board">
          <div class="col">
              <a href="{% url 'preview6' ball.slug %}">
                <img class="size-image size-image-logo madrid7-png" src="{% static 'images/lpool.jpeg' %}" alt="liver pool logo">
              </a>
          </div>
          vs
          <div class="col">
              <a href="{% url 'preview6' ball.slug %}">
                <img class="size-image size-image-logo porto-png" src="{% static 'images/Porto-logo.png' %}" alt="Porto logo">
              </a>
          </div>
      </div>
            {% endfor %}
          </div>
      </div>
    </div>

    
<!-- index.html content ends here -->
{% endblock %}
