{% extends 'base.html' %}
{% block content %}
{% load static %}


<style>
    .logo-size {
        width: 50px; /* Adjust the size as needed */
        height: 50px; /* Adjust the size as needed */
    }
</style>

<div class="card text-center section-background-image white-color-text">
    <section class="card-body">
        <h3 class="card-title marg-top">{{ ball.title }}</h3>
        <div class="row styled-padding board">
            {% for match in matches %}
                <div class="col">
                    <a href="{% url 'match_detail' match.slug %}">
                        <img class="img-fluid rounded-circle logo-size" src="{{ match.feature_images.url }}" alt="{{ match.title }}">
                    </a>
                    <h3 class="marg-top small-name">{{ match.title }}</h3>
                </div>
                {% if not forloop.last %}
                    <div class="col">
                        <span>vs</span>
                    </div>
                {% endif %}
            {% endfor %}
        </div>
    </section>
    <div class="card-footer text-muted"></div>
    <section>
        <h6 class="card-text marg-top">{{ ball.content | safe }}</h6>
        <p class="left color-white"><em>Created on:</em> {{ ball.created_on }}</p>
    </section>
</div>

{% endblock content %}
