{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="card text-center section-background-image color-white">
    
      <Strong><h1 class="marg-top">Vote for your team</h1></Strong>
    
    <div class="card-body">
      <h3 class="card-title marg-top">{{ ball.title }} </h3>
      <div class="row styled-padding board">
        <div class="col">
                <img class="size-image size-image-logo madrid7-png" src="{% static 'images/lpool.jpeg' %}" alt="liver pool logo">
            <h3 class="marg-top small-name">Liver Pool</h3>
        </div>
        vs
        <div class="col">
                <img class="size-image size-image-logo porto-png" src="{% static 'images/Porto-logo.png' %}" alt="Porto logo">
            <h3 class="marg-top small-name">Fc Porto</h3>
        </div>
    </div>
    </div>
    <div class="card-footer text-muted">
    </div>
    <h6 class="card-text marg-top"> {{ ball.content | safe }} </6>
    <p class="left color-white"><em>Created on:</em> {{ ball.created_on }} </p>
  </div>

{% endblock content %}