{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="card text-center section-background-image color-white">
    
      <Strong><h1 class="marg-top">Vote for your team</h1></Strong>
    
    <div class="card-body">
      <h3 class="card-title marg-top">{{ ball.title }} </h3>
      <div class="row styled-padding board">
        <div class="col">
            <a href="{% url 'preview3' ball.slug %}">
                <img class="size-image size-image-logo chelbvb-size" src="{% static 'images/bvb.png' %}" alt="bvb logo">
            </a>
            <h3 class="marg-top">BVB</h3>
        </div>
        vs
        <div class="col">
            <a href="{% url 'preview3' ball.slug %}">
                <img class="size-image size-image-logo inter-png" src="{% static 'images/inter-milan-logo.png' %}" alt="inter milan logo">
            </a>
            <h3 class="marg-top">Inter Milan</h3>
        </div>
    </div>
    </div>
    <div class="card-footer text-muted">
    </div>
    <h6 class="card-text marg-top"> {{ ball.content | safe }} </h6>
    <p class="left color-white"><em>Created on:</em> {{ ball.created_on }} </p>
  </div>

{% endblock content %}