{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="card text-center section-background-image color-white white-color-text">
    
    <div class="card-body">
      <h3 class="card-title marg-top">{{ ball.title }} </h3>
      <div class="row styled-padding board">
        <div class="col">
            <a href="{% url 'bvb_history' ball.slug %}">
                <img class="size-image size-image-logo chelbvb-size" src="{% static 'images/bvb.png' %}" alt="bvb logo">
            </a>
            <h3 class="marg-top small-name">BVB</h3>
        </div>
        vs
        <div class="col">
            <a href="{% url 'inter_milan_history' ball.slug %}">
                <img class="size-image size-image-logo inter-png" src="{% static 'images/inter-milan-logo.png' %}" alt="inter milan logo">
            </a>
            <h3 class="marg-top small-name">Inter Milan</h3>
        </div>
    </div>
    </div>
    <div class="card-footer text-muted">
    </div>
    <h6 class="card-text marg-top"> {{ ball.content | safe }} </h6>
    <p class="left color-white"><em>Created on:</em> {{ ball.created_on }} </p>
  </div>


  <!--Carousel-->
  <div id="carouselExampleCaptions" class="carousel slide push-down container" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="{% static 'images/image-b-bvb-slide.jpg' %}" class="d-block w-100 image-height-width bg-color" alt="borussia dortmund">
        <div class="carousel-caption d-none d-md-block">
          <h5>Borussia Dortmund</h5>
          <p class="push"></p>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/image3.jpg' %}" class="d-block w-100 image-height-width bg-color" alt="stadium">
        <div class="carousel-caption d-none d-md-block">
          <h5 class="push">Stadium</h5>
        </div>
      </div>
      <div class="carousel-item">
        <img src="{% static 'images/image-inter-milan-slide.jpg' %}" class="d-block w-100 image-height-width bg-color" alt="inter-milan">
        <div class="carousel-caption d-none d-md-block">
          <h5>Inter Milan</h5>
          <p class="push">Serie A leaders Inter Milan beat Genoa 2-1 on Monday to move 15 points clear of second-placed Juventus as they search for a 20th league title.</p>
        </div>
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-target="#carouselExampleCaptions" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-target="#carouselExampleCaptions" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </button>
  </div>

{% endblock content %}
