{% extends 'base.html' %} {% block content %}
{% load static %}

<div class="card text-center history-background-psg text-color">

    <Strong>
        <h1 class="marg-top">Paris Saint-Germain Football Club</h1>
    </Strong>
    <p>Paris Saint-Germain Football Club, commonly referred to as PSG, is a professional football club based in Paris,
        France. They were founded on 12 August 1970 after the merger of Paris FC and Stade Saint-Germain.</p>

    <h2>Early Years (1970-1991)</h2>
    <p>In their early years, PSG made an immediate impact, winning promotion to Ligue 1 and claiming the Ligue 2 title
        in their first season. Their momentum was soon checked, however, and the club spent the 1970s and 1980s
        oscillating between Ligue 1 and Ligue 2.</p>

    <h2>Rise to Prominence (1991-2011)</h2>
    <p>PSG hit their stride in the 1990s under manager Artur Jorge, who led them to their first Ligue 1 title in 1994.
        They also won the Coupe de France in 1993 and 1995, and the Coupe de la Ligue in 1995 and 1998.</p>

    <h2>Recent Success (2011-Present)</h2>
    <p>Since the Qatari takeover in 2011, PSG have become one of the wealthiest in the world and one of the most
        successful clubs in France. They have won seven of the last eight Ligue 1 titles and made several deep runs in
        the UEFA Champions League.</p>

    <h1>Paris Saint-Germain Football Club Trophies</h1>

    <h2>Ligue 1</h2>
    <p>PSG has won the Ligue 1 title 11 times in the following seasons: 1985/86, 1993/94, 2012/13, 2013/14, 2014/15,
        2015/16, 2017/18, 2018/19, 2019/20, 2021/22, 2022/23[^1^][3].</p>

    <h2>Coupe de France (French Cup)</h2>
    <p>PSG has won the French Cup 14 times[^2^][2].</p>

    <h2>Coupe de la Ligue (French League Cup)</h2>
    <p>PSG has won the French League Cup 9 times[^2^][2].</p>

    <h2>Trophée des Champions (Champions Trophy)</h2>
    <p>PSG has won the Champions Trophy 12 times[^2^][2].</p>

    <h2>European Honours</h2>
    <p>In international football, PSG has claimed one UEFA Cup Winners' Cup and one UEFA Intertoto Cup[^3^][4]. Their
        victory in the 1995–96 UEFA Cup Winners' Cup makes PSG the sole French side to have won this trophy[^3^][4].</p>

    <p class="left marg-top"><em>Created on:</em> {{ ball.created_on }} </p>
</div>

{% endblock content %}